name: Deploy .NET Azure Function

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Build and Publish
        working-directory: ./app/FunctionApp
        run: dotnet publish -c Release -o publish_output

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: cosmos-function-app
          path: ./app/FunctionApp/publish_output

  deploy:
    permissions:
      contents: none
    runs-on: ubuntu-latest
    needs: build

    environment:
      name: Development

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: cosmos-function-app
          path: ./package

      - name: Deploy to Azure Function
        uses: Azure/functions-action@v1
        with:
          package: ./package
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }} 