name: Deploy .NET App

on:
  workflow_dispatch:
    inputs:
      AZURE_WEBAPP_NAME:
        description: 'Use the Resource Group name to end up with something like [ResourceGroupName-webapp]'
        required: true
        default: ''

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 7.0.x

      - name: Build
        working-directory: ./app/FunctionApp
        run: dotnet build --configuration Release

      - name: Publish
        working-directory: ./app/FunctionApp
        run: dotnet publish -c Release -o _output

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: cosmos-function-app
          path: ./app/FunctionApp/_output

  deploy:
    permissions:
      contents: none
    runs-on: ubuntu-latest
    needs: build

    environment:
      name: Development
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: cosmos-function-app
          path: ./package

      - name: Deploy
        uses: azure/webapps-deploy@v2
        with:
          app-name: dotnet-conf
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ./package
